# Ignore world and server data
worlds/
*.log
logs/
cache/

# Ignore behavior packs and resource packs
mcdata/
data/
logs/
cache/
worlds/

# Ignore .DS_Store and other system files
.DS_Store

# Track server and config files
!/server.properties
!/permissions.json
!/whitelist.json
!/textures/
